{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wellness Pharma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">


  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'index' %}" class="js-logo-clone">WELLNESS PHARMA</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active"><a href="{% url 'shop' %}">Store</a></li>
                <li class="has-children">
                  <a>Drugs</a>
                  <ul class="dropdown">
                    <li><a href="#">Pain Relief</a></li>
                    <li><a href="#">Oral Care</a></li>
                    <li><a href="#">First Aid</a></li>
                    <li><a href="#">Vitamins &amp; Minerals</a></li>
                    <li><a href="#">Stomach &amp; Bowel</a></li>
                    <li><a href="#">Cough, Cold &amp; Flu</a></li>
                    <li><a href="#">Allergy &amp; Hayfever</a></li>
                    <li><a href="#">Sex Health</a></li>
                  </ul>
                </li>
                {% comment %} <li class="has-children">
                  <a href="{% url 'register' %}">Register/Login</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li> 
                  </ul>
                </li> {% endcomment %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="{% url 'cart' %}" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">{{cartItems}}</span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="{% url 'index' %}">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Checkout</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="bg-light rounded p-3">
              <p class="mb-0">Returning customer? <a href="{% url 'login' %}" class="d-inline-block">Click here</a> to login</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Delivery Details</h2>
            <div class="p-3 p-lg-5 border" id="delivery-details">
              <div class="form-group row user-info">
                <div class="col-md-6">
                  <label for="c_username" class="text-black">Username <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_uname" name="c_uname">
                </div>
              </div>
              <div class="form-group row user-info">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="c_fname">
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="c_lname">
                </div>
              </div>
              <div class="form-group row user-info">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                </div>
              </div>
              <div class="form-group delivery-info">
                <label for="c_country" class="text-black">Country <span class="text-danger">*</span></label>
                <select id="c_country" class="form-control">
                  <option value="1">Ghana</option>
                  {% comment %} <option value="2">Bangladesh</option>
                  <option value="3">Algeria</option>
                  <option value="4">Afghanistan</option>
                  <option value="5">Ghana</option>
                  <option value="6">Albania</option>
                  <option value="7">Bahrain</option>
                  <option value="8">Colombia</option>
                  <option value="9">Dominican Republic</option> {% endcomment %}
                </select>
              </div>
    
              {% comment %} <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_companyname" class="text-black">Company Name </label>
                  <input type="text" class="form-control" id="c_companyname" name="c_companyname">
                </div>
              </div> {% endcomment %}
    
              <div class="form-group row delivery-info">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
                </div>
              </div>
    
              <div class="form-group delivery-info">
                <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
              </div>
    
              <div class="form-group row delivery-info">
                {% comment %} <div class="col-md-6">
                  <label for="c_state_country" class="text-black">State / Country <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_state_country" name="c_state_country">
                </div> {% endcomment %}
                <div class="col-md-6">
                  <label for="c_postal_zip" class="text-black">Ghana Post GPS <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_gps" name="c_gps">
                </div>
              </div>
    
              {% comment %} <div class="form-group">
                <label for="c_create_account" class="text-black" data-toggle="collapse" href="#create_an_account"
                  role="button" aria-expanded="false" aria-controls="create_an_account"><input type="checkbox" value="1"
                    id="c_create_account"> Create an account?</label>
                <div class="collapse" id="create_an_account">
                  <div class="py-2">
                    <p class="mb-3">Create an account by entering the information below. If you are a returning customer
                      please login at the top of the page.</p>
                    <div class="form-group">
                      <label for="c_account_password" class="text-black">Account Password</label>
                      <input type="email" class="form-control" id="c_account_password" name="c_account_password"
                        placeholder="">
                    </div>
                  </div>
                </div>
              </div> {% endcomment %}
    
              <div class="form-group delivery-info">
                <label for="c_order_notes" class="text-black">Order Notes</label>
                <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                  placeholder="Write your notes here..."></textarea>
              </div>
              <div class="form-group">
                {% comment %} data-toggle="collapse" data-target="#payment-info" {% endcomment %}
                <input class="btn btn-primary btn-lg btn-block" value="Continue" type="submit" id="continue-button">
              </div>

              <div class="form-group">
                <div class="collapse" id="payment-info">
                  <small>Payment Option</small>
                  <button class="btn btn-outline-secondary add-btn" id="make-payment">Make Payment</button>
                  {% comment %} <div class="py-2">
    
                    <div class="form-group">
                      <label for="c_diff_country" class="text-black">Country <span class="text-danger">*</span></label>
                      <select id="c_diff_country" class="form-control">
                        <option value="1">Select a country</option>
                        <option value="2">bangladesh</option>
                        <option value="3">Algeria</option>
                        <option value="4">Afghanistan</option>
                        <option value="5">Ghana</option>
                        <option value="6">Albania</option>
                        <option value="7">Bahrain</option>
                        <option value="8">Colombia</option>
                        <option value="9">Dominican Republic</option>
                      </select>
                    </div>
    
    
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label for="c_diff_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_fname" name="c_diff_fname">
                      </div>
                      <div class="col-md-6">
                        <label for="c_diff_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_lname" name="c_diff_lname">
                      </div>
                    </div>
    
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label for="c_diff_companyname" class="text-black">Company Name </label>
                        <input type="text" class="form-control" id="c_diff_companyname" name="c_diff_companyname">
                      </div>
                    </div>
    
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_address" name="c_diff_address"
                          placeholder="Street address">
                      </div>
                    </div>
    
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                    </div>
    
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label for="c_diff_state_country" class="text-black">State / Country <span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_state_country" name="c_diff_state_country">
                      </div>
                      <div class="col-md-6">
                        <label for="c_diff_postal_zip" class="text-black">Posta / Zip <span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_postal_zip" name="c_diff_postal_zip">
                      </div>
                    </div>
    
                    <div class="form-group row mb-5">
                      <div class="col-md-6">
                        <label for="c_diff_email_address" class="text-black">Email Address <span
                            class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_email_address" name="c_diff_email_address">
                      </div>
                      <div class="col-md-6">
                        <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_phone" name="c_diff_phone"
                          placeholder="Phone Number">
                      </div>
                    </div>
    
                  </div> {% endcomment %}
    
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-md-6">
            
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th class="product-thumbnail">Image</th>
                      <th class="product-name">Product</th>
                      <thclass="product-total">Total</th>
                    </thead>
                    <tbody>
                      {% for item in items %}
                      <tr>
                        <td class="product-thumbnail">
                          <img src="{{item.product.image.url}}" alt="Image" class="img-fluid">
                        </td>
                        <td>{{item.product.name}}<strong class="mx-2"> x </strong>{{item.quantity}}</td>
                        <td>GHS {{item.product.price|floatformat:2}}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Cart Items</strong></td>
                        <td class="text-black">{{order.get_cart_items}}</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Cart Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>GHS {{order.get_cart_total|floatformat:2}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                  
                  {% comment %} <div class="border mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button"
                        aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>
    
                    <div class="collapse" id="collapsecheque">
                      <div class="py-2 px-4">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                          payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div>
    
                  <div class="border mb-5">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button"
                        aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>
    
                    <div class="collapse" id="collapsepaypal">
                      <div class="py-2 px-4">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                          payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div> {% endcomment %}
    
                </div>
              </div>
            </div>
    
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
    

    <div class="site-section bg-secondary bg-image" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
              <div class="banner-1-inner align-self-center">
                <h2>Pharmacy Products</h2>
                <p>Parenteral Formulations, Oral Drugs, Topical Medicines, Modified release Formulations, 
                  Novel Drug Formulations, Oncological Formulations...
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Experts</h2>
                <p>We have been rated by the Pharmacy Coucil Ghana and World Pharmacy Council.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>WELLNESS PHARMA started operations in 2014 as a wholesaler in East Legon. 
                It currently has a wholesale and retail outlets at Michel Camp of Greater Accra Region. 
                It currently has 15 hospitals and laboratories as its customers. 
                Our mission is to import and supply medicines from reputable sources to meet the pharmaceutical needs of clients..
              </p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="#">Supplements</a></li>
              <li><a href="#">Vitamins</a></li>
              <li><a href="#">Diet &amp; Nutrition</a></li>
              <li><a href="#">Tea &amp; Coffee</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Located 700 metres from Accra Mall, GA-054-2334, East Legon, Greater Accra, Ghana.. 
                  <a href="{% url 'contact' %}">more</a></li>
                <li class="phone"><a href="tel://233549163069">+233 54 916 3069 </a>/<a href="tel://233549163069"> +233 50 349 0466</a></li>
                <li class="email">info@wellnesspharma.com</li>
              </ul>
            </div>


          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="{% url 'index' %}" 
                class="text-primary">| WELLNESS PHARMA</a>
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript">
    var shipping = '{{order.shipping}}'
    
    var total = '{{order.get_cart_total|floatformat:2}}'

    var form = document.getElementById('delivery-details')

    if(shipping == 'False'){
      form.innerHTML = 'YOU CANNOT CHECKOUT BECAUSE YOU HAVE NO ORDER OR NO ITEMS IN CART'
    }

    document.getElementById("delivery-details").addEventListener("click", showPayment(){
      console.log("Form submitted....")
      document.getElementById("continue-button").classList.add("collapse");
      document.getElementById("payment-info").classList.remove("collapse");

    });

    document.getElementById('make-payment').addEventListener('click', function(e){
      submitFormData()
    })

    function submitFormData(){
      console.log("Payment button clicked")

      var userFormData = {
        'uname': null,
        'fname': null,
        'lname': null,
        'email': null,
        'phone': null,
        'total': total,
      }

      var deliveryDetail = {
        'country': null,
        'address': null,
        'GPS': null,
        'notes': null,
      }

      if(shipping != 'False'){
        deliveryDetail.address = form.c_address.value
        deliveryDetail.gps = form.c_gps.value
        deliveryDetail.notes = form.c_order_notes.value
      }

      if(user == 'AnonymousUser'){
        userFormData.uname = form.c_uname.value
        userFormData.fname = form.c_fname.value
        userFormData.lname = form.c_lname.value
        userFormData.email = form.c_email.value
        userFormData.phone = form.c_phone.value
      }

      var url = '/processOrder/'
      fetch(url,{
        method: 'POST',
        headers:{
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({'form': userFormData, 'delivery': deliveryDetail})
      })
      .then((response) => response.json())
      .then((data) => {
        console.log('Success: ' data);
        alert("Transaction completed");
        window.location.href = "{% url 'shop' %}"
      })

    }

  </script>

</body>

</html>